@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

#home-page {
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100%;
  padding: 80px;
  /* text-align: center; */
}

#home-title {
  font-family: 'Roboto';
  font-size: 36px;
}

select {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  /* Adicione seu estilo de fundo e cor de texto personalizados */
  background-color: #f8f8f8;

  /* Defina uma altura e largura adequadas */
  width: 50%;
  padding: 12px 20px;

  /* Adicione bordas para uma aparência mais nítida */
  border: none;
  border-radius: 4px;

  /* Remova a aparência padrão das setas nos navegadores */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Estilo quando o usuário passa o mouse sobre o select */
select:hover {
  border-color: #0074d9; /* Cor destacada no hover */
}

/* Estilo quando o select está ativo ou em foco */
select:focus {
  border-color: #004c9e; /* Cor destacada quando em foco */
}

/* Estilo para opções no dropdown do select */
select option {
  /* Personalize a fonte e o espaço interno das opções */
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  background-color: #f8f8f8; /* Cor de fundo das opções */
}

/* Estilo para opções quando o usuário passa o mouse sobre elas */
select option:hover {
  background-color: #0074d9; /* Cor destacada no hover */
  color: #fff; /* Cor do texto no hover */
}

#input-label {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 20px;
}

#input-file {
  display: none; /* Oculta o elemento real do input file. */
}

/* OBS: O input não está puxando a tradução nem a estilização :( */
/* #input-file:placeholder {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
} */

button {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}

button.default {
  background-color: #0074d9; /* Cor de fundo do botão */
  color: #fff;
}

button:hover {
  background-color: #0056b3; /* Cor de fundo mais escura */
  color: #fff;
}

footer {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
}