@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Roboto:wght@500&display=swap');

/* cores:
#efefef
#d9d9d9
#c3c3c3 */

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #d9d9d9;
}

#home-page {
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100%;
  padding: 80px;
}

#home-title {
  font-family: 'Roboto';
  font-size: 36px;
}

select {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  /* Adicione seu estilo de fundo e cor de texto personalizados */
  background-color: #efefef;

  /* Defina uma altura e largura adequadas */
  width: 9%;
  min-width: fit-content;
  padding: 12px 20px;

  /* Adicione bordas para uma aparência mais nítida */
  border: none;
  border-radius: 4px;

  /* Remova a aparência padrão das setas nos navegadores */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Estilo quando o usuário passa o mouse sobre o select */
select:hover {
  border-color: #d9d9d9; /* Cor destacada no hover */
}

/* Estilo quando o select está ativo ou em foco */
select:focus {
  border-color: #d9d9d9; /* Cor destacada quando em foco */
  outline: 3px solid #000000;
}

/* Estilo para opções no dropdown do select */
select option {
  /* Personalize a fonte e o espaço interno das opções */
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  background-color: #efefef; /* Cor de fundo das opções */
}

/* Estilo para opções quando o usuário passa o mouse sobre elas */
select option:hover {
  background-color: #d9d9d9; /* Cor destacada no hover */
}

#input-title {
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 20px;
}

.input-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#input-label {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 20px;
  padding: 12px 20px;
  /* text-align: center; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #efefef;
  transition: background-color 0.3s, color 0.3s;
  width: 40%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-label:hover {
  background-color: #d9d9d9;
  outline: 3px solid #000000;
}

#input-file {
  display: none;
}

button {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
}

button.default {
  background-color: #efefef;
}

button:hover {
  background-color: #d9d9d9;
  outline: 3px solid #000000;
}

footer {
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 18px;
}